@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
}

/* Navigation Bar */
/* Phone nav rules here */
@media only screen and (max-width: 600px) {
    nav {
        background-color: #1486CC;
        padding: .5rem 2%;
    }

    #navlist {
        list-style: none;
        padding: 0;
    }

    #navlist li a {
        border: 1px solid black;
        display: block;
        padding: .5rem 2%;
        background-color: #D3D3D3;
        margin-bottom: .5rem;
        border-radius: 30px;
    }

    #navlist a {
        text-decoration: none;
    }

    a:hover {
        background-color: #FF0001;
    }

} /* End of Phone */

/* Desktop nav rules here */
@media only screen and (min-width: 601px) {
    nav {
        display: flex;
        align-items: center;
        height: 64px;
        width: 62.5%;
        background-color: #505050;
        position: fixed;
    }
        
    #navlist {
        display: flex;
        list-style: none;
    }
        
    #navlist a {
        font-size: 1.75rem;
        padding: 1rem;
        text-decoration: none;
        color: #f0f0f0;
    }
        
    #navlist a:hover {
        background-color:  #FF0001;
    }
        
    a:hover {
        background-color:  #FF0001;
    }

} /* End of Desktop */

/* Simply Gaming Header */
.welcome {
    background-image: url(images/controller.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #505050;
    padding: 100px;
}

#simply {
    font-family: "arial", sans, serif;
    font-size: 50px;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 0 30px;
}

#gaming {
    font-family: 'Press Start 2P', cursive;
    vertical-align: bottom;
    line-height: 65px;
    color: #FF0001;
}

/* Simply Gaming Slogan */
#slogan {
    font-family: 'Nanum Gothic', sans-serif;
    color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* HTML elements */

body {
    background-color: #c6c9d0;
    background-image: url(images/background.png);
    background-repeat: repeat-x;
}

#wrapper {
    max-width: 900px;
    min-width: 320px;
    margin: 0 auto;
    box-shadow: 5px 5px 25px #FF0001;
}

h1 {
    font-family: "arial", sans, serif;
    color: #f0f0f0;
    font-size: 50px;
 
}

h2 {
    font-family: "arial", sans, serif;
    color: #f0f0f0;
    font-size: 30px;
}

h3 {
    font-family: 'Press Start 2P', cursive;
    color: #f0f0f0;
    line-height: 20px;
}

ol, dl, ul, dd {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

dt {
    font-family: 'Press Start 2P', cursive;
    line-height: 12px;
}

p {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

figcaption {
    font-family: 'Roboto', sans-serif;
}

footer {
    font-family: "arial", sans, serif;
    color: #f0f0f0;
    background-color: #505050;
}

/* Images */
.logo {
    margin: 0 0 0 1%;
}

.switchimg {
    margin: 0 0 0 2%;
    padding: .5em;
    float: right;
    width: 52%;
    box-shadow: 1px 1px 5px #FF0001;
}

.switchimg img {
    width: 100%;
}

.myGallery {
    background-color: #D3D3D3;
    margin: 0 0 25px 2%;
    float: left;
    padding: 20px;
    border: 1px solid black;
}

/* News Section */
#news {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #1486CC;
}

#newsbody {
    background-color: #1486CC;
    text-align: center;
    justify-content: center;
    height: 10vh;
}

#newsTag {
    text-shadow: 1px 1px 10px #FF0001;
}

/* Walk-throughs */
.walkthroughs {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #B31213;
    text-shadow: 1px 1px 10px #FF0001;
}

#walkthroughsbody {
    text-align: center;
    justify-content: center;
    background-color: #B31213;
}

#nintendolist li {
    list-style-type: none;
    background-image: url(images/controller1.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 25px;
}

#xboxlist {
    list-style-image: url(images/controller1.png);
}

#playstationlist {
    list-style-image: url(images/controller1.png);
}

/* Walk=through sections */
.platforms-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #B31213;
}

#nintendo, #xbox, #playstation, #pc {
    padding: 16px;
}

/* Bottom row */
.bottom-row {
    display: flex;
    flex-direction: row;
    background-color: #D3D3D3;
}

#top10 {
    padding: 20px;
}

#topnintendo {
    margin: 10px;
}

#top10-title {
    color: black;
}

#terminology {
    padding: 20px;
}

#terminology-title {
    color: black;
}

#definitions {
    padding: 20px;
}

/* ABOUT PAGE */
.about {
    background: linear-gradient(to right, #787a7e 25%, #c6c9d0 50%);
    border-color: rgb(225,0,0);
    border-style: dashed;
    border-width: 5px;
    box-shadow: 3px 3px 15px #1486CC inset;
}

#asg {
    color: black;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 10px #FF0001;
}

#puzzles {
    display: flex;
    padding: 20px;
}

#email {
    display: flex;
}

/* GALLERY */
.gallery {
    background-color: #D3D3D3;
}

#galleryintro {
    color: black;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 10px #FF0001;
}

.keepOpen {
    clear: both;
}

/* Newsletter Signup */
#newsletterTag {
    text-shadow: 1px 1px 10px #FF0001;
    display: flex;
    justify-content: center;
}

.registration {
    background-color: #D3D3D3;
}

.practiceForm fieldset {
    border: 1px solid #1486CC;
    border-radius: 1rem;
    padding: 1rem 2%;
    margin: 1.5rem;
}

.practiceForm legend {
    font-family: 'Press Start 2P', cursive;
    font-size: .8rem;
    color: #FF0001;
}

.practiceForm label {
    display: block;
    padding: .2rem;
}

.practiceForm span {
    display: block;
    font-size: .8rem;
    color: #1486CC;
    padding-top: 1rem;
}

.yourInput {
    color: #FF0001;
    background-color: beige;
    border: none;
    padding: .5rem;
    border-radius: 1rem;
    width: 25%;
}

 .myButton {
    background-color: #1486CC;
    padding: 1rem 3rem;
    border-radius: 1rem;
    border: 1px solid black;
    margin: 1.5rem;
}